body {
  background-color: rgb(255, 45, 46);
}

input,
button {
  font-size: 1em;
  width: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root>div {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

#root>div>div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5em;
}